body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background: url("./background.png");
    background-size:cover 320px;
    background-image: non-repeat;
    margin-top:5px;
}
button{
    margin-bottom:10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(249, 210, 93);
    border-color:rgb(249, 210, 93);
}

#board {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./soil.png");
    background-size: cover;
    border: 10px solid rgb(249, 210, 93);
    border-radius: 25px;
}

#board div {
    width: 120px; 
    height: 120px;
    background-image: url("./flowerPot.png");
    background-size: cover;
}

#board div img {
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}